<!DOCTYPE html>
<html>

<head>
  <title>Pedido de recuperação de senha</title>
</head>

<body>
  <div>
    <h3>Olá {{name}},</h3>
    <p>Você solicitou uma alteração de senha, use esse <a href="{{url}}">link</a> para prosseguir.</p>
    <br>
  </div>

</body>

</html>